server:
  port: 3000
  error:
    include-stacktrace: never
    include-message: always

spring:
  application:
    name: circuit_breaker_demo

logging:
  level:
    root: INFO
    com.example: DEBUG
    io.github.resilience4j: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS
  health:
    circuitbreakers:
      enabled: true

resilience4j:
  circuitbreaker:
    instances:
      backendService:
        registerHealthIndicator: true
        slidingWindowSize: 3
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 1
        recordExceptions:
          - java.lang.RuntimeException

retry:
  instances:
    backendService:
      maxAttempts: 3
      waitDuration: 1s

timelimiter:
  instances:
    backendService:
      timeDuration: 2s
      cancelRunningFuture: true